body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f9;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 320px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
  font-size: 14px;
}

.logout-btn {
  background: red;
}

.message {
  text-align: center;
  margin-top: 10px;
}
.switch-text {
  text-align: center;
  margin-top: 15px;
}

.switch-text a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.switch-text a:hover {
  text-decoration: underline;
}

.switch-login {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
    color: #666;
}

.switch-login a {
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
    margin-left: 5px;
}

.switch-login a:hover {
    text-decoration: underline;
}

